@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap");

:root {
  --teal: #037272;
  --beige: #f8f8f8;
  --blue: #339589;
  --grey: #848e91;
  --yellow: #fcbf02;
  --bgColor: #037272;
  --light-blue: #edffff;
  --sky-blue: #3c9090;
  --dark-grey: #45494c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sidebar {
  max-width: 300px !important;
  height: 100vh;
  padding: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.hambtn {
  position: absolute;
  top: 5px;
  left: 250px;
  visibility: hidden;
}

.text {
  color: var(--blue);
  font-size: 1.1em;
}

.sidebar.close .hambtn {
  left: 80px;
}

.sidebar.close {
  align-items: center;
  width: 80px;
}

.sidebar.close .text {
  display: none;
}

.sidebar div {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  gap: 0.5em;
}

.sidebar div:not(:nth-child(2)) {
  color: var(--grey);
  font-size: 1.35em;
}

.sidebar div:not(:nth-child(2)) span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  padding: 10px 0px;
}

.sidebar.close div:not(:nth-child(2)) span:nth-child(1) {
  width: 50px;
}

.logo {
  margin-bottom: 20px;
}

.logo span {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.35em;
}

.logo img {
  width: 60px;
}

.main {
  height: 100vh;
  width: 94vw;
  background-color: #fafafa;
  max-width: calc(100vw - 80px);
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5em 1em 0.5em 0.25em;
  color: var(--grey);
  font-size: 1.5em;
}

.header span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
}

.content {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.logout a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    height: 100vh;
    width: 100%;
    background-color: #fafafa;
    position: absolute;
    left: 80px;
  }

  .sidebar {
    width: 250px;
  }
}
.appointment {
  border-bottom: 2px solid black;
  display: flex;
  padding: 1em;
  font-size: 1.5em;
}

.appointment div {
  padding: 5px 0;
}
.appid {
  width: 75px;
}

.pname {
  width: 250px;
}

.apdate {
  width: 200px;
}

.aptime {
  width: 150px;
}

.apstatus {
  width: 175px;
}

#status-form select {
  background-color: var(--sky-blue);
  color: white;
  padding: 5px 5px;
  width: 200px;
  font-size: 1em;
  border: none;
  border-radius: 2px;
}
