@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");

body {
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Figtree", sans-serif;
  color: #ffffff;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: #037272;
  height: 75px;
  padding: 0px 10px;
}

nav ul div {
  display: flex;
}

nav ul div li {
  padding: 0 15px;
  font-weight: 400;
}

nav ul div li a {
  text-decoration: none;
  color: white;
}

nav ul div li a:hover {
  color: #fcbf02;
  cursor: pointer;
}

nav ul div:nth-child(2) {
  font-size: 1.2rem;
}

.brand img {
  width: 55px;
  padding: 0 1px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.logsign button {
  border: solid;
  border-color: white;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.logsign button:hover {
  font-size: 18px;
  border-color: #fcbf02;
  color: #fcbf02;
}

/* =================================================== */

.speciality {
  text-align: center;

  font-family: "Figtree", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: #037272;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.gof2 {
  margin: 20px 20px;
  display: flex;
  align-items: center;
}

.doc {
  display: flex;
  align-items: center;
  /* background-color: rgb(192, 192, 192); */
  padding: 20px 0px 20px 0px;
  width: 85vh;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgb(169, 168, 168);
  height: 122px;
}

.docinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  font-family: "Figtree", sans-serif;
  color: #037272;
}

.docinfo img {
  width: 133px;
  border-radius: 200px;
  border: solid #037272;
  margin: 20px;
}

.docinfo ul {
  list-style-type: none;
}

.bookappointment {
  margin: 20px;
}

.vl {
  border-left: 6px solid #037272;
  border-radius: 100px;
  height: 125px;
}

.bookappointment button {
  border: solid #037272;
  background-color: #037272;
  color: white;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}

.bookappointment button:hover {
  background-color: white;
  color: #037272;
  /* border: solid #037272; */
}

.name {
  font-size: 1.75em;
}
