@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");

:root {
  --grey: #767676;
  --yellow: #fcbf02;
  --bgColor: #037272;
  --light-blue: #edffff;
  --sky-blue: #3c9090;
  --dark-grey: #45494c;
}

body {
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
/* =================================================== */

.speciality {
  text-align: center;
  font-family: "Figtree", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  color: var(--bgColor);
  display: flex;
  justify-content: center;
  padding: 0.35em;
}

.list {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Figtree", sans-serif;
  gap: 2.5em;
  padding: 10px 0px;
}

.doc {
  width: 540px;
  max-width: 550px;
  height: 170px;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  /* border: 2px solid red; */
  gap: 1em;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.docinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #037272;
  gap: 0.8em;
}

.docinfo span:not(:nth-child(1)) {
  font-size: 1.2em;
}

.docinfo span:nth-child(1) {
  max-width: 175px;
}

.doc img {
  width: 130px;
  border-radius: 100%;
  border: solid var(--bgColor);
}

.name {
  font-size: 2em;
}

.vl {
  border-left: 5px solid #037272 !important;
  border-radius: 100px;
  height: 125px;
}

.bookappointment button {
  width: 150px;
  border: 2px solid var(--bgColor);
  background-color: var(--bgColor);
  color: white;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 1.3em;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bookappointment button:hover {
  transition: 0.3s;
  background-color: white;
  color: #037272;
  box-shadow: none;
}

/* RESPONSIVE */

@media (max-width: 320px) {
  .list {
    padding: 0;
  }
}

@media (max-width: 426px) {
  .list {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .doc {
    width: 270px;
    max-width: 300px;
    min-height: 425px;
    max-height: 500px;
    flex-direction: column;
  }

  .docinfo span:nth-child(1) {
    gap: 0.5em;
  }

  .docinfo span:nth-child(1) {
    justify-content: center;
    align-items: center;
  }

  .docinfo span:nth-child(1) {
    max-width: 300px;
    max-height: 200px;
  }

  .doc img {
    width: 130px;
    border-radius: 100%;
    border: solid var(--bgColor);
  }

  .vl {
    border-left: none !important;
    border-bottom: 5px solid #037272 !important;
    width: 80%;
    height: 0;
  }

  .bookappointment button {
    width: 150px;
    font-size: 1.1em;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}
