@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");

:root {
  --grey: #767676;
  --yellow: #fcbf02;
  --bgColor: #037272;
  --light-blue: #edffff;
  --sky-blue: #3c9090;
  --dark-grey: #45494c;
  /* --text-shadow: 0.15rem 0.15rem 0 rgba(0, 0, 0, 0.2); */
}

body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: "Figtree", sans-serif;
  color: #ffffff;
  background-color: var(--bgColor);
  /* position: sticky;
  top: 0px; */
}

/* .hamburger {
  display: none;
} */

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  height: 75px;
  padding: 0px 10px;
}

nav ul div {
  display: flex;
}

nav ul div li {
  padding: 0 15px;
  font-weight: 400;
}

nav ul div li a:hover {
  color: var(--yellow);
  cursor: pointer;
}

nav ul div:nth-child(2) {
  font-size: 1.2rem;
}

.brand img {
  width: 55px;
  padding: 0 1px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.logsign button {
  border: solid;
  border-color: white;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.logsign button:hover {
  transition: 0.3s;
  transform: scale(1.05);
  border-color: var(--yellow);
  color: var(--yellow);
}

.home-img img {
  width: 900px;
}

a {
  text-decoration: none;
  color: white;
}

/* ============================================ */

main {
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 3em;
}

.spname {
  width: 250px;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px rgb(0 0 0 / 16%);
  border-radius: 2px;
  transition: 0.1s;
}

.spname a {
  text-decoration: none;
}

.spname ul {
  list-style-type: none;
  font-family: "Figtree", sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #037272;
}

.spname ul li img {
  width: 240px;
}

@media (max-width: 640px) {
  main {
    grid-template-columns: 100% !important;
    justify-items: center;
  }
}

@media (min-width: 640px) {
  main {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media (min-width: 1240px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}
