@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");

body {
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Figtree", sans-serif;
  color: #ffffff;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: rgb(3 114 114);
  height: 75px;
}

nav ul li {
  padding: 0 15px;
  font-weight: 400;
}

.brand img {
  width: 55px;
  padding: 0 1px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.logsign button {
  border: solid;
  border-color: white;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.logsign button:hover {
  font-size: 18px;
  border-color: #fcbf02;
  color: #fcbf02;
}

.home-img img {
  width: 900px;
}

a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #fcbf02;
  cursor: pointer;
}
